
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color:rgb(247 228 135);
    height: 100lvh;
    display: grid;
    justify-content: center;
    align-content: center;
    cursor:pointer;
    -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

body > * {
    pointer-events: none;
}
